body {
  font-family: 'Source Sans Pro';
}
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import '../styles/unreset.scss';



*, :after, :before {
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  box-sizing: inherit;
  word-break: break-word;
}