body {
  font-family: 'Source Sans Pro';
}
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import '../styles/unreset.scss';



*, :after, :before {
  -webkit-font-smoothing: antialiased;
}

:target {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;
}